! special
*.foreground:   #b0b28e
*.background:   #33352a
*.cursorColor:  #b0b28e

! black
*.color0:       #47454a
*.color8:       #242325

! red
*.color1:       #f46852
*.color9:       #f2462c

! green
*.color2:       #84c298
*.color10:      #a3be8c

! yellow
*.color3:       #f8df8c
*.color11:      #f5cf51

! blue
*.color4:       #c0d7ed
*.color12:      #b0cde8

! magenta
*.color5:       #b8b4d0
*.color13:      #948eb8

! cyan
*.color6:       #8abeb7
*.color14:      #61a89f

! white
*.color7:       #a6b3b5
*.color15:      #859699

